# Node
node_modules/
*.log
npm-debug.log*

# Environment files
.env
.env.*

# Docker
pgdata/
*.pid

# Terraform local data
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl


# Build
dist/
build/

# OS / Editor
.DS_Store
Thumbs.db
